@model ContatoWeb.Models.Contato
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/contato/create" method="post">
        <input type="text" name="Nome" /><br />
        <input type="text" name="Email" /><br />
        <button>Salvar</button>
    </form>
</body>
</html>